.Diagnosis {
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius:15px;
    background-color: #84BAE6;
    display: flex;
    flex-direction: column;
    width: 8%;
    margin-right: 100px;
  }
  
  .Diagnosis form {
    display: grid;
    flex-direction: column;
  }
  
  .Diagnosis label {
    margin-bottom: 10px;
  }
  
  .Diagnosis textarea {
    border: 10px solid #84BAE6;
    border-radius: 20px;
    margin-bottom: 40px;
    resize:none;
    width: auto;
    height: 20vmin;
    font-size: large;
  }
  
  .Diagnosis textarea:focus {
    outline: none;
  }
  
  .Diagnosis .submit {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4663ac;
    color: white;
    transition: background-color 0.3s ease;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    padding: 5px;
    margin-top: 22vmin;
    font-weight: bold;

  }
  .Diagnosis .submit:hover {
    cursor: pointer;
    background-color: #c1d8f0;
    color: black;
    transition: 0.3s ease;
    margin-top: 22vmin;
    font-weight: bold;
    transform: scale(1.1);
  }

  .Diagnosis .submit:not(:hover) {
    transition: 0.3s ease;
  }
  
  .Diagnosis .response {
    margin: 10px;
    padding: 15px;
    background-color: #84BAE6;
    border-radius: 4px;
    font-weight: bold;
    font-size: large;
    color: black;
  }